<%- include header.ejs%>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="https://i.imgur.com/gptmsaK.png"></a>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
<div class="page-header">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Salas de Chat</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h2>Animes</h2>
      <p>Um chat para falar sobre animes, desde Cowboy Beebop ate Eromanga-sensei!</p>
      <p>
        <a class="btn btn-primary" href="/chats/animes">Entrar</a>
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h2>Tecnologia</h2>
      <p>De bits aos mais novos frameworks! Um free-for-all sobre tecnologia.</p>
      <p>
        <a class="btn btn-primary" href="/chats/tecnologia">Entrar</a>
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h2>Cantina do Gil</h2>
      <p>Conversas e cafezinho do intervalo.</p>
      <p>
        <a class="btn btn-primary" href="/chats/general">Entrar</a>
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <h2>Roles</h2>
      <p>Marque seus roles. So nao esqueca de nos chamar!</p>
      <p>
        <a class="btn btn-primary" href="/chats/roles">Entrar</a>
      </p>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script src="/js/sckt.js"></script>
<%- include footer.ejs%>
