<%- include header.ejs%>
<form method="post" action="/reg">
        <input name="nome" type="text" />
        <input name="username" type="text" />
        <input name="senha" type="password" />
        <button type="submit">Registrar</button>
</form>
<%- include footer.ejs%>
